body {
  height: 100vh;
  background-color: grey;
  display: flex;
  align-items: center;
}

main {
  background-color: skyblue;
}

header {
  margin-bottom: 60px;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.subheader {
  font-size: 24px;
}

.checkbox-container {
  margin-bottom: 60px;
}

/* create password button */
#create-password.hide {
  display: none;
}


/* new password button */
#new-password {
  display: none;
}

#new-password.show {
  display: block;
}

/* password box */
.password-box {
  word-break: break-all;
}