/* CSS variables */


body {
  color: white;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #2a2d43;
  padding: 32px 16px;
  margin: 0 auto;
  width: 80%;
  border-radius: 20px;
}

header {
  margin-bottom: 60px;
}

h1 {
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 12px;
}

/* ---------- Checkboxes ---------- */
.checkbox-container {
  margin-bottom: 60px;
}

li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  /* border: 3px solid red; */
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

/* option warning container */
.option-warning-container {
  min-height: 20px;
  height: 28px;
  display: flex;
  align-items: center;
}

.option-warning {
  color: red;
}

/* create password button */
#create-password.hide {
  display: none;
}


/* new password button */
#new-password {
  display: none;
}

#new-password.show {
  display: block;
}

/* password box */
.password-box {
  word-break: break-all;
}