body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 32px 16px;
  width: 100%;
}

/* ---------- Header ---------- */
header {
  margin-bottom: 48px;
}

header a {
  color: #f4b942;
  transition: color 0.2s;
}

header a:hover {
  color: white;
}

/* ---------- Subheader ---------- */
.subheader {
  line-height: 1.4;
  text-align: center;
}

h1 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 28px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 12px;
  text-align: left;
}

/* ---------- Checkboxes ---------- */
.checkbox-container {
  margin-bottom: 8px;
}

li {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
  width: fit-content;
}

li label {
  cursor: pointer;
}

input[type="checkbox"] {
  height: 20px;
  margin-right: 12px;
  width: 20px;
  cursor: pointer;
}

/* option warning container */
.option-warning-container {
  align-items: center;
  display: flex;
  height: 28px;
  min-height: 20px;
}

.option-warning {
  color: red;
}

/* ---------- Password length container ---------- */
.password-length-container {
  margin-bottom: 28px;
}

/* Password input box */
#pw-length {
  height: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 8px;
  width: 25%;
}

.length-warning {
  color: red;
  line-height: 1.2;
  min-height: 40px;
}

/* ---------- "Create password" button, "Create another password" button ---------- */
#create-password, #new-password {
  align-items: center;
  background: #f4b942;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 300px;
  padding: 8px 0;
  transition: all 0.2s;
  width: 100%;
}

#create-password:hover, #new-password:hover {
  background: #2a2d43;
  color: white;
}

/* Hide the "Create password" button */
#create-password.hide {
  display: none;
}

/* "Create another password" button */
#new-password {
  display: none;
}

/* Show "Create another password" button */
#new-password.show {
  display: block;
}

/* ---------- Password box ---------- */
.password-box {
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  min-height: 100px;
  padding: 8px;
  position: relative;
  word-break: break-all;
}

/* "Copied" message */
.copy-message {
  line-height: 1.4;
  min-height: 45px;
}

/* ---------- Media Queries ---------- */
@media only screen and (min-width: 339px) {
  .copy-message {
    min-height: 28px;
  }
}

@media only screen and (min-width: 391px) {
  #pw-length {
    margin-left: 8px;
    margin-top: 0;
    width: 15%;
  }
}

@media only screen and (min-width: 576px) {
  body {
    height: 100vh;
  }

  main {
    margin: 0 auto;
    max-width: 432px;
    padding: 32px;
    width: 75%;
  }
}
